{% extends './indexbase.html' %}
{% block content %}
<h1 class="add-h1 add2" aria-describedby="message">Sign up as Employee</h1>
<form method="post" action="{% url 'Add-Employee' %}">
  {% csrf_token %}
  <div class="form-group">
  
      <input type="number" class="form-control" id="employee_id" placeholder="Employee ID" name="employee_id">
  </div>
  <div class="form-group">
  
      <input type="text" class="form-control" id="name" name="name" placeholder="Employee Name">
  </div>
  <div class="form-group">

      <textarea class="form-control" id="address" placeholder="Address" maxlength="300" name="address" rows="2"></textarea>
  </div>
  <div class="form-group">
      <select name="job_type">
        <option value="" disabled selected>Job Type</option>
        <option value="Customer Representative" >Customer Representative</option>
        <option value="Cashier">Cashier</option>
      </select>
  </div> 
  <div class="form-group">
    <label class="label" for="joining_date">Joining Date:</label><br>
    <input type="datetime" placeholder="YYYY-MM-DD" id="joining_date" name="joining_date">
  </div>
  <div class="form-group">
      
      <input type="number" class="form-control" placeholder="Contact Number" id="contact_number" name="contact_number">
  </div>
  <div class="form-group">
      <input type="number" class="form-control" placeholder="Age" id="age" name="age">
  </div>
  <div class="form-group">
  <label class="label" for="dob">Date of Birth</label><br>
  <input type="datetime" placeholder="YYYY-MM-DD" id="date_of_birth" name="date_of_birth">
    </div>
  <div class="form-group">
      
      <select name="gender">
        <option value="" disabled selected>Gender</option>
        <option value="Male" >Male</option>
        <option value="Female">Female</option>
      </select>
  </div>
  <div class="form-group">
      
      <input type="password" class="form-control" id="password" name="password" placeholder="Create Password">
  </div>
  <button class="signup1 btn btn-primary" type="submit">Sign up</button>
  <a onclick="goBack()" class="goback btn btn-outline-danger">Go Back</a>
</form>
{% endblock %}