{% extends './indexbase.html' %}
{% block content %}
    <div class="card w-100">
      <div class="bm-profile">
        <div class="card-body">
          <p class="text-bm">Your Profile</p>
          <h1 class="card-title bm-name">{{ info.name }}</h1>
          <h2 class="card-text bm-branch">Branch ID :{{ info.branch_id }}</h2>
          <h5 class="card-text bm-id">Branch Manager ID : {{ info.branch_manager_id }}</h5>
          <div class="bm-details">
          <h6 class="card-text">{{ info.gender }}</h6>
          <p class="card-text">Age : {{ info.age}}</p>
          <p class="card-text">Address : {{ info.address }}</p>
          <p class="card-text">Contact Number : {{ info.contact_number}}</p>
          <p class="card-text">Email ID : {{ info.email_id}}</p>
        </div>
        </div>
      </div>
    </div>
      <hr>
      <h3 class="H3"> Your Employee Leave Management</h3>
      {% if elm %}
      {% for employee in elm %}
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">Employee {{ employee.employee_id }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Leave ID : {{ employee.leave_id }}</h6>
          <p class="card-text">Leave Reason : {{ employee.leave_reason }}</p>
          <a href="#" class="card-link">Leave Status: {{employee.leave_status}}</a>
          <a href="#" class="card-link">Leave Date : {{employee.leave_date}}</a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-primary" role="alert">
       No Employee on Leave
      </div>
    </div>
      {% endif %}
      <hr>
      <h3 class="H3"> Your Past Employee</h3>
      {% if pus %}
      <table class="table mb-2">
        <thead>
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Job Type</th>
            <th scope="col">Gender</th>
            <th scope="col">Joining Date</th>
            <th scope="col">Working Hours</th>
            <th scope="col">Address</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Age</th>
            <th scope="col">Date of Birht</th>
            <th scope="col">Total Leaves</th>
            <th scope="col">Resign Date</th>
            <th scope="col">Salary</th>
          </tr>
        </thead>
        {% for info in pus %}
        <tbody>
            <tr>
                <td>{{ info.employee_id }}</td>
              <td>{{ info.name }}</td>
              <td>{{ info.job_type }}</td>
              <td>{{ info.gender }}</td>
              <td>{{ info.joining_date }}</td>
              <td>{{ info.working_hours }}</td>
              <td>{{ info.address }}</td>
              <td>{{ info.contact_number }}</td>
              <td>{{ info.age }}</td>
              <td>{{ info.date_of_birth }}</td>
              <td>{{ info.total_leaves }}</td>
              <td>{{ info.leaving_date }}</td>
              <td>{{ info.salary }}</td>
            </tr>
        </tbody>
      {% endfor %}
    </table>
      {% else %}
      <div class="alert alert-primary" role="alert">
       No Past Employee Found For this branch.
      </div>
      {% endif %}
      <h3 class="H3"> Your Employee Salary Calculations</h3>
      {% if cal %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Salary ID</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Allowance</th>
            <th scope="col">Deduction</th>
            <th scope="col">Total Caluclated Salary</th>
            <th scope="col">Working Hours</th>
            <th scope="col">Total Leaves</th>
          </tr>
        </thead>
        {% for info in cal %}
        <tbody>
            <tr>
                <td>{{ info.salary_id }}</td>
              <td>{{ info.employee.employee_id }}</td>
              <td>{{ info.employee.name }}</td>
              <td>{{ info.allowance }}</td>
              <td>{{ info.deduction }}</td>
              <td>{{ info.total_calculated_salary }}</td>
              <td>{{ info.working_hours }}</td>
              <td>{{ info.total_leaves }}</td>
            </tr>
        </tbody>
      {% endfor %}
    </table>
      {% else %}
      <div class="alert alert-primary" role="alert">
       No Calculations to show..
      </div>
      {% endif %}
    </div>
      <hr>
      <h3 class="H3">Products In Your Branch</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Quantity ID</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        {% for info in pd %}
        <tbody>
            <tr>
                <td>{{ info.product_id }}</td>
              <td>{{ info.quantity }}</td>
              <td>{{ info.expiry_date }}</td>
              <td>{{ info.cost }}</td>
            </tr>
        </tbody>
      {% endfor %}
    </table>
    <h3 class="H3"> Your General Services</h3>
    <div class="card-group General">
      {% for service in gs %}
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">{{ service.type }}</h5>
          <h6 class="card-title">ID {{ service.general_service_id }}</h6>
          <p class="card-subtitle mb-2">Expenses : {{ service.expenses }}</p>
          <p class="card-subtitle mb-2">Income : {{ service.income }}</p>
        </div>
      </div><br>
      {% endfor %}
    </div>
  </div>
{% endblock %}