{% extends './indexbase.html' %}
{% block content %}
<div class="card w-100">
  <div class="em-profile">
        <div class="card-body">
          <p class="card-text">Your Profile</p>
          <h1 class="card-title">{{ info.name }}</h1>
          <h2 class="card-text">{{ info.employee_id }}</h2>
          <h5 class="card-text">{{ info.job_type }}</h5>
          <div class="em-details">
          <h6 class="card-text">{{ info.gender }}</h6>
          <p class="card-text">Joining Date : {{ info.joining_date }}</p>
          <p class="card-text">Working Hours : {{ info.working_hours }}</p>
          <p class="card-text">Address : {{ info.address }}</p>
          <p class="card-text">Contact Number : {{ info.contact_number}}</p>
          <p class="card-text">Age : {{ info.age}}</p>
          <p class="card-text">Date of Birth : {{ info.date_of_birth}}</p>
          <p class="card-text">Total Leaves : {{ info.total_leaves }}</p>
        </div>
          <button type="button"  disabled class="salary1 btn btn-outline-success btn-lg">Salary : {{ info.salary }}</button>
        </div>
    </div>
  </div>
  <div class="em-l">
      <h3 class="l-h1"> Your Leaves</h3>
      {% if leaves %}
      <div class="card-group card1">
      {% for employee in leaves %}
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-subtitle mb-2">Leave ID : {{ employee.leave_id }}</h5>
          <p class="card-text">Leave Reason : {{ employee.leave_reason }}</p>
          <a href="#" class="card-link">Leave Status: {{employee.leave_status}}</a>
          <a href="#" class="card-link">Leave Date : {{employee.leave_date}}</a>
        </div>
      </div>
      {% endfor %}
    </div>
      {% else %}
      <div class="alert alert-primary" role="alert">
       Your total leaves are zero.
      </div>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="em-bt">
    <a href="{% url 'Apply-Leave' %}" class="btn signup2 btn-primary bt1">Apply Leave</a>  <a href="{% url 'Resign' %}" class="btn  goback2 btn-danger bt2">Resign</a>
  </div>
{% endblock %}