{% extends './indexbase.html' %}
{% block content %}
    <div class="card w-100">
      <div class="hm-profile">
        <div class="card-body">
          <h1 class="card-title">{{ info.name }}</h1>
          <h2 class="card-text">Head Branch ID :{{ info.head_branch_id }}</h2>
          <p class="card-text">{{ info.head_branch_address }}</p>
          <h5 class="card-text">Head Manager ID : {{ info.head_manager_id }}</h5>
          <h6 class="card-text">{{ info.gender }}</h6>
          <p class="card-text">Age : {{ info.age}}</p>
          <p class="card-text">Address : {{ info.address }}</p>
          <p class="card-text">Contact Number : {{ info.contact_number}}</p>
          <p class="card-text">Email ID : {{ info.email_id}}</p>
        </div>
      </div>
    </div>
      <hr>
    <div class="hm-bd">
    <div class="card">
      <div class="search-b">
        <h4>All Branch Details</h4> <a class="search btn btn-secondary" style="width: 200px;" href="{% url 'query' %}">Search Branch</a>
      </div>
      <div class="abd-table">
        <table class="table mb-3">
    <div class="card cardhm">
        <table class="table mb-2">
            <thead>
              <tr>
                <th scope="col">Branch Name</th>
                <th scope="col">Branch Manager Name</th>
                <th scope="col">Total Payout</th>
                <th scope="col">Total Number of Employee</th>
                <th scope="col">Branch Address</th>
              </tr>
            </thead>
            {% for info in bd %}
        <tbody>
            <tr>
                <td>{{ info.branch_name }}</td>
              <td>{{ info.branch.name }}</td>
              <td>{{ info.total_payout }}</td>
              <td>{{ info.total_number_of_employee }}</td>
              <td>{{ info.branch_address }}</td>
            </tr>
        </tbody>
      {% endfor %}
            </table>
    </div>
  </div>
  </div>
    
{% endblock %}