{% extends './indexbase.html' %}
{% block content %}
  <h1 class="add-h1">Resignation Form</h1>
        <form method="POST" action="{%url 'Resign' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="empid">Employee ID</label>
              <input type="number" required class="form-control" name="empid" id="empid" placeholder="Employee ID">
            </div>
            <div class="form-group">
              <label for="resign_date">Resign Date</label>
              <input type="datetime" required class="form-control" name="resign_date" id="leave_date" placeholder="YYYY-MM-DD">
            </div>
            <div class="form-group">
                <label for="resign_reason">Reason</label>
                <input type="text" required class="form-control" name="resign_reason" id="leave_reason" placeholder="Leave Reason">
              </div>
            <button type="submit" class="signup1 btn btn-danger">Resign</button>
            <a class="btn goback btn-outline-success" onclick="goBack()">Go Back</a>
          </form>
{% endblock %}